<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      {{ pageTitle }}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
<!--
  <div>
    <ion-item *ngIf="isEdited && !hideForm">
      <button
        ion-button
        round
        item-right
        color="danger"
        text-center
        (click)="deleteEntry()">Remove this Question?
      </button>
    </ion-item>

    <div *ngIf="hideForm">
      <ion-item class="post-entry-message" text-wrap>
        <h2>Success!</h2>
        <p>Maybe you'd like to edit an existing entry or add a new record?</p>
        <p>Simply go back to the home page and select the option you want to pursue.</p>
      </ion-item>
    </div>


    <div *ngIf="!hideForm">
      <form [formGroup]="form" (ngSubmit)="saveEntry()">

        <ion-list>
          <ion-item-group>
            <ion-item-divider color="light">Question *</ion-item-divider>
            <ion-item>
              <ion-label> {{ question.number }}.</ion-label>
              <ion-textarea
                type="text"
                placeholder="Enter a question..."
                formControlName="questionContent"
                rows="3"
                [(ngModel)]="question.content"></ion-textarea>
            </ion-item>
          </ion-item-group>

          <ion-item-group>
            <ion-item-divider color="light">Explanation *</ion-item-divider>
            <ion-item>
              <ion-textarea
                type="text"
                placeholder="Enter a explanation..."
                formControlName="explanation"
                rows="3"
                [(ngModel)]="question.explanation"></ion-textarea>
            </ion-item>
          </ion-item-group>

          <ion-item-divider color="light">Answers *</ion-item-divider>
          <ion-item-group *ngFor="let item of items">
            <ion-list no-lines>
              <ion-item *ngIf="item.which_question == question.number" no-lines text-wrap>
                <ion-label> {{item.answer_number}}.</ion-label>
                <ion-textarea type="text"
                              placeholder="Enter an answer..."
                              no-lines
                              value = item.answer_content>
                </ion-textarea>
              </ion-item>
              <ion-checkbox checked=item.result item-right></ion-checkbox>
            </ion-list>
          </ion-item-group>


          <ion-item>
            <button
              ion-button
              round full
              color="primary"
              text-center
              [disabled]="!form.valid">Save this question
            </button>
          </ion-item>

        </ion-list>

      </form>
    </div>
  </div>
-->

</ion-content>
